:root {
    --maincolor: #eae1d2;
    --black: #131313;
    --btn: #835c2c;
    --text: #c1a16b;
    --p: #926f34;
    --border: 0.1rem solid #c1a16b;
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    transition: 0.2s linear;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: var(--maincolor);
}

section {
    margin: 0 auto;
    max-width: 1200px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: var(--border);
}

.header section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #3e321c;
    max-width: 100%;
    width: 100%;
}
/*nome do site no menu*/
.logo {
    font-family: 'Teko';
    font-size: 3.5rem;
    font-weight: 500;
    color: var(--maincolor);
    margin-left: 7rem;
}

.navbar {
    margin: 0 50px;
}

/*espaço do menu*/
.navbar a {
    margin: 0 1.5rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--maincolor);

}

.navbar a:hover {
    color: var(--btn);
    font-size: 1.9rem;
}

.home {
    margin: 0;
    width: 100%;
}

.container {
    display: flex;
    width: 1600px;
    height: 44rem;
    background-color: rgb(80, 71, 54);
    justify-content: space-between;
    align-items: center;
    margin: 170px 50px ;
    border-radius: 3rem;
    max-width: 150%;
}


.colunm-1 {
    margin-left: 7rem;
}

.h1-logo {
    font-size: 4rem;
    color: var(--maincolor);
    margin: 15px 0;
}

.p-logo {
    font-size: 1.8rem;
    color: var(--text);
    font-weight: 300;
    margin: 10px 0;
    margin-bottom: 40px;

}
.btn {
    background-color: var(--btn);
    color: var(--maincolor);
    padding: 9px 18px;
    border-radius: 1.5rem;
    font-size: 1.7rem;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--maincolor);
    color: #a76b05;
}

.colunm-2 {
    display: flex;
    align-items: center; 
}

.banner {
  width: 150rem;
  height: 44rem;
  border-radius: 3rem 3rem 3rem 0;
  margin: none;
  max-width: 100%;
}

.div-texto-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.h2-menu {
    font-size: 5rem;
    color: var(--btn);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.p-menu {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
    color: var(--p);
    margin-bottom: 2rem;
}

.h3-menu {
    font-size: 3rem;
    color: var(--btn);
    margin: 2rem;
}

.h3-fmenu {
    font-size: 4rem;
    color: var(--btn);
    margin: 2rem;
    margin-top: 18rem;
}

.p-fmenu {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
    color: var(--p);
    margin-bottom: 2rem;
}

.ferramentas-menu .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.ferramentas-menu .box-container .box {
    text-align: center;
    border: var(--border);
    padding: 5rem;
    cursor: pointer;
    border-radius: 2rem;
    margin: 2rem;
}

.ferramentas-menu .box-container .box img {
   height: 10rem;
}

.ferramentas-menu .box-container .box h3 {
    color: var(--btn);
    font-size: 3rem;
    padding: 1rem 0;
}

.ferramentas-menu .box-container .box .text {
    color: #987332;
    font-size: 1.8rem;
    padding: 2rem 0;
}

.ferramentas-menu .box-container .box:hover {
    background-color: #d3be9aad;
}

.ferramentas-menu .box-container .box:hover h3 {
    color: var(--maincolor);
    font-size: 3.2rem;
}

.ferramentas-menu .box-container .box:hover .text {
    color: #a4690b;
}
